body {
    margin: 0;
    padding: 0;
    /*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
    background: rgb(185, 184, 184);
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}
.video-background {
/*  making the video fullscreen  */
    position: absolute;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -100;
}
.centeredJumbotron{
    color: darkslateblue;
    margin-top: 25vh;
    min-height: 50vh; 
    /* Make it a flex container */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 
    /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
    -webkit-align-items : center;
    -moz-box-align : center;
    -ms-flex-align : center;
    align-items : center;
    /* In legacy web browsers such as Firefox 9
        we need to specify the width of the flex container */
    width: 100%;
    -webkit-box-pack : center;
    -moz-box-pack : center;
    -ms-flex-pack : center;
    -webkit-justify-content : center;
    justify-content : center;
}
.footerIcon{
    display:inline;
    font-size: 3rem;
    padding-right: 20px;
    color: darkslateblue;
} 
.skilsIcon{
    width:70px;
    height:70px;
    margin-right: 20px;
    margin-bottom: 10px;
    display:inline;
}
.carouselStyle{
    color: darkslateblue;
    padding-right: 10px;
}
.figure-img{
    width: 700px;
    height: 400px;
}   
@media screen and (max-width: 670px){
    html{
        background-color: white;
    }
}
/* #about_pic{
    width: 200px;
    height: 250px;
    border-color: black;
    border-style: solid;
}
#row-about{
    font-weight: bold;   
}
.container{
    background: #ffffff;
    margin-top: 40px;
    padding: 30px 40px;
    position: relative;
}
.col{
    border-style: solid;
    border-color: aquamarine;
}
p{
    margin-left: 20px;
    float: left;
    width: 50%;
}
.card{
    width: 15rem;
    position: fixed;
}
.link{
    font-weight: 100;
}

@media screen and (min-width: 450px){
    footer{
        display: none; 
    }
}
@media screen and (max-width: 670px){
    .card{
        display: none;       
    }
}
@media screen and (max-width: 450px){
    p{
        margin-top: 20px;
    }
    footer{ 
        width: 100%;
        color: #ffffff;
        padding-left: 20%;
        padding-top: 3%;
    }
    .fa,.fas{
        font-size: 15px;
        float: left;
    }
} */


