body {
    margin: 0;
    padding: 0;
    /*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
    background: rgb(185, 184, 184);
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}
.video-background {
/*  making the video fullscreen  */
    position: absolute;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -100;
}
.centeredJumbotron{
    color: darkslateblue;
    margin-top: 10vh;
    min-height: 50vh; 
    /* Make it a flex container */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 
    /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
    -webkit-align-items : center;
    -moz-box-align : center;
    -ms-flex-align : center;
    align-items : center;
    /* In legacy web browsers such as Firefox 9
        we need to specify the width of the flex container */
    width: 100%;
    -webkit-box-pack : center;
    -moz-box-pack : center;
    -ms-flex-pack : center;
    -webkit-justify-content : center;
    justify-content : center;
    font-family: 'Handlee', cursive;
    font-size: larger;
}
.footerIcon{
    display:inline;
    font-size: 3rem;
    padding-right: 20px;
    color: darkslateblue;
} 
.skilsIcon{
    width:70px;
    height:70px;
    margin-right: 20px;
    margin-bottom: 10px;
    /* display:inline; */
}
.carouselStyle{
    color: darkslateblue;
    padding-right: 10px;
}
.figure-img{
    width: 700px;
    height: 400px;
}   
@media screen and (max-width: 670px){
    html{
        background-color: white;
    }
    .fadeIn img{
        width: 400px;
        height: 300px;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
.styleBefore{
    display:none !important; 
    background:none !important
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@media (print), (prefers-reduced-motion: reduce) {
    .animated {
        -webkit-animation-duration: 1ms !important;
        animation-duration: 1ms !important;
        -webkit-transition-duration: 1ms !important;
        transition-duration: 1ms !important;
        -webkit-animation-iteration-count: 1 !important;
        animation-iteration-count: 1 !important;
    }
}

